body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  background: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 720px;
  margin: 0 auto;
  background: #eee;
  padding: 1em;
  height: 100%;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 100%;
  background: coral;
}

.navbar li {
  margin: 1em;
}

.navbar a {
  width: 10%;
  padding: 1em;
  justify-content: center;
}

.navbar a:hover,
.navbar li .selected {
  background: firebrick;
  color: white;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.gallery .cell {
  flex-grow: 1;
  flex-basis: 30%;
  margin: 5px;
}

.gallery img {
  height: 100%;
  width: 100%;
}
